body{font-family:sans-serif !important} .h16{font-family:sans-serif !important}.wechat_body{

}

body {
	background: #fff !important;
	color: #333;
	font-family: sans-serif !important;
}


.h16{
    font-family: sans-serif !important;
}

code {
	background: transparent;
	color: #D23B2F;
	font-weight: bold;
	padding: 0 2px;
}

strong{
	color: #000;
	font-weight: bold;
}

.img_before.md_align_center{
	color: #666;
	font-size: 0.8em;
	margin-top: -0.8em;
     line-height: 1.2;
}



.t1{
	margin: 3.5em 0 1.5em 0;
	padding: 0.5em 0;
	line-height: 22.4px;
	border-top: 2px solid #000;
}
.t2{
	margin-top: -1.9em;
    	text-align: center;
}
.t3{
    display: inline-block;
    background-color: #fefefe;
    text-align: center;
}
.t3 h2, .t3 h3{
	color: #000;
	font-size: 1em;
	font-weight: bold;
	margin: 0.5em 0.2em;
	padding: 0 1em;
}
.t3 h3{
	color: #111;
	padding: 0 0.5em;
	font-weight: normal;
	background: #f8f8f8;
	border-radius: 0.2em;
}


.caption{
	height: 30px;
	line-height: 30px;
	color: #ffffff;
	font-weight: bold;
    text-align: center;
    font-size: 1.1em;
    margin-right: 10px;
    min-width: 75px;
    background: #C53F46;
    display: inline-block;
    margin-left: -1.1em;
    margin-bottom: 0.35em;
}

blockquote {
    display: block;
    border-left: none;
    margin: 0;
    padding: 0;
    color: #353535;
	line-height: 1.8;
}

blockquote .md_block{
	margin: 0.2em 0;
}

blockquote span.md_line{
	line-height: 1.8;
}


.b1 {
	margin:1em 0.2em 1em 0.4em;
	border-style: none;
}


.b2 {
	padding: 16px;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	font-size: 1em;
	line-height: 1.4;
}